<!DOCTYPE html>
<html>
    <head>
        {% if title %}
        <title> {{ title }} </title>
        {% else %}
        <title> Home </title>
        {% endif %}
        <title>Bootstrap Example</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>

    <body>
        <h1>{{ header }}</h1> 
        {% with messages = get_flashed_messages() %} <!--flashed messages-->
        {% if messages %}
        <ul>
            {% for message in messages %} 
            <li> {{ message }} </li>
	    {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
      </button>
      <a class="navbar-brand" href="/">Home</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/login">Login</a></li>
            <li><a href="/ClassList">Classes</a></li>
            <li><a href="/find">Find Flashcards</a></li>
            <li><a href="/pomodorotimer">Pomodoro Timer</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/logout">Logout</a></li>
            <li><a href="/deleteaccount">Delete Account</li>
          </ul>
        </li>
     </ul>
     <form class="navbar-form navbar-left">
     </form>
     <form class="nav navbar-nav navbar-right">
        <a class="navbar-brand" href="/login">Sign In</a>
        <a class="navbar-brand" href="/signup">Sign Up</a>
    </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
	<hr>
         <div class="container">
                <div class="row">
                    <div class="col-sm-4">
            {% block content %} {% endblock %}
        </div>
    </body>
</html>
