<!DOCTYPE html>
<html>
    <head>
        {% if title %}
        <title> {{ title }} </title>
        {% else %}
        <title> Home </title>
        {% endif %}
    </head>

    <body>
        <h1>{{ header }}</h1> 
        {% with messages = get_flashed_messages() %} <!--flashed messages-->
        {% if messages %}
        <ul>
            {% for message in messages %} 
            <li> {{ message }} </li>
	    {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <div>
            <a href="/"> Home </a> <br>
            <a href="/login"> Login </a> <br> <!--insert links here to your any routes you create--> 
            <a href="/ClassList"> Classes </a> <br>
            <a href="/find"> Find FlashCards </a> <br>
	        <a href="/deleteaccount"> Delete Account </a><br>
            <a href="/uploadnotes/1"> Upload Notes </a> <br>
            <a href="/viewnotes/1"> View Notes </a> <br>

        </div>
	<hr>
        {% block content %} {% endblock %}
    </body>
</html>
