{% extends 'base.html' %}
{% block content %}
    <h1> Pick Which Class Contains The Desired Contents</h1>
    <form action ="" method="POST" novalidate>
        {{ form.hidden_tag() }}
        <div class="grid-container" >
            {% for user in user_classes %} 
            <div class="grid-item">
                <a class="grid_btn"  href=/ClassContent/{{user.id}}>{{ user.title }}</a>
            </div>
            {% endfor %}
         </div>
        <h2> Create a New Class  </h2>
        <p>
            {{ form.title.label }} <br>
            {{ form.title() }}
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>
{% endblock %}
