{% extends 'base.html' %}
{% block content %}
    <h1> Create a FlashCard </h1>
    <form action ="" method="POST" enctype="multipart/form-data" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }} <br>
            {{ form.title(size = 128) }}
        </p>
        <p>
            {{ form.image.label }}
            {{ form.image() }}
        </p>
        <p>
            {{ form.front() }}
        </p>
        <p>    
            {{ form.text.label }} <br>
            <textarea name="text" form="form" rows="5" cols="80"> Insert Text Here </textarea>
        </p>
        <p>
            {{ form.create() }}
        </p>
    </form>
{% endblock %}
