{% extends 'base.html' %}
{% block content %}
    <h1> Create a FlashCard </h1>
    <form action ="" method="POST" enctype="multipart/form-data" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }} <br>
            {{ form.title(size = 128) }}
        </p>
        <p>
            {{ form.image.label }}
            {{ form.image() }}
        </p>
        <p>    
            {{ form.text.label }} <br>
            {{ form.text(cols="50",rows="5") }}
        </p>
        <p>
            {{ form.create() }}  
        </p>
        <a href=/flashList/{{list_id}}/0> Go Back to FlashCard List </a>
    </form>
{% endblock %}
