{% extends 'base.html' %}
{% block content %}
    <form action = "" method = "POST" novalidate>
    <h1> {{ title }} </h1>
        <p>
            Question {{ qNum }}: {{ questions[qNum] }} 
        </p>
        <p>
            {{flashcards[qNum]}}
        </p>     
        <p>
            {{ form.answer.label }} <br>
            {{ form.answer(size=32) }}
        <p>
            {{ form.previous() }} {{ form.next() }} 
        </p>   
        <p>
            {% if end %}
                {{ form.submit() }}
            {% endif %}
        </p>
    </form>
{% endblock %}

