{% extends 'base.html' %}
{% block content %}
    <form action ="" method = "POST" novalidate>
    <h1> {{ title }} </h1>
        <p>
            Question {{ qNum + 1 }} of {{ qLength }}: {{ questions[flashcards[qNum].title] }} 
        </p>
        <p>
            <input list ="answers" 
            {% if answersheet[qNum] %}    
                placeholder={{answersheet[qNum]}}
            {% endif %}
            name="answer" autocomplete="off">
            <datalist id ="answers">
                {% for flashcard in flashcards %}
                    <option value = {{ flashcard }}>
                {% endfor %}  
            </datalist>
        <p>
            {% if qNum|int() > 0 %}
                {{ form.previous() }}
            {% else %}
                <!-- empty space -->
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 
            {% endif %}
            {% if qNum|int() < qLength-1|int() %} 
                {{ form.next() }} 
            {% endif %}
        </p>
        <p>
            {% if qNum|int()  == qLength-1|int() %}
                {{ form.submit() }}
            {% endif %}
        </p>
{% endblock %}

