{% extends 'base.html' %}
{% block content %}
    <form action ="" method = "POST" novalidate>
    <h1> {{ title }} </h1> 
    {% if qLength > 0 %}
        {% for i in range(qLength) %}
        <p>
           <strong> Question {{ i+1 }} of {{ qLength }}: </strong> {{ questions[flashcards[i].title] }}
            {% if answersheet[i] != flashcards[i].title %}
                &nbsp <strong><span style="color: #8b0000;"> Wrong </span> </strong>
            {% endif %}
            <br>
            <strong>Your Answer:</strong><br> {{answersheet[i]}} <br> <br>
            <strong>Correct Answer:</strong><br> {{flashcards[i]}} <br> <br>
        </p>
        {% endfor %}
    {% endif %} 
    {% if answersheet.clear() %}
    {% endif %}
        </p>          
            <a class="btn btn-light border border-dark" href=/flashList/{{list_id}}/0>View Flashcards Again</a><br>
            <a class="btn btn-light border border-dark"  href=/quiz/{{list_id}}/0>Take this Quiz Again</a><br>    
{% endblock %}


