{% extends "base.html" %}
{% block content %}
<h1> To Do List </h1> 
{% for task in items %} 
        {% if task.title %}
            <ol> <b style="font-size: 150%;">{{ task.title }}</b>   <a class="btn btn-secondary" style="color:rgb(132, 100, 163); border-color:rgb(132, 100, 163)" href=/deleteItem/{{task.id}}>remove</a></ol>
        {% endif %}
{% endfor %}
<form action="" method="Post" novalidate>
    <p>
        {{ form.title.label }} <br>
        {{ form.title() }}
    </p>
    <p>
        {{ form.rank.label }} <br>
        {{ form.rank() }}
    </p>
    <p>
        {{ form.insert() }}
    </p>
</form>

{% endblock %}