{% extends "base.html" %}
{% block content %}
<h1> {{ title }} </h1>
<ul>
{% for titles in names %}
<!--    
<li> <a href ='/app/static/mdFiles/{{titles}}'> {{ titles }} </a> 
    <a href ='/app/static/mdFiles/{{titles}}/convert'>  Convert To PDF</li>
    -->
    <a class="btn btn-secondary" href=/app/static/mdFiles/{{ titles }}>View Notes: {{ titles }}</a> 
    <a class="btn btn-secondary" href=/app/static/mdFiles/{{titles}}/convert>Convert to PDF</a>
{% endfor %}
</ul>
<a class="btn btn-secondary" href=/uploadnotes/{{class_id}}>Upload New Notes</a>
{% endblock %}

