{% extends 'base.html' %}
{% block content %}
    <h1> {{ title }} </h1>
        <p>
        {% if flashcards %}
        <ul>  
            <div class="grid-container2" > 
            {% for f in flashcards %} 
                <div class="grid-item" style="border-radius:0px;">
                    {{ f.title }}
                </div>
                <div class="grid-item" style="background-color: #e3e4cb; border-radius: 0px ;">
                    {{ f.content }}
                </div>
                {% endfor %}
             </div> 
        </ul>
        {% endif %}
        </p>
    {% if list_id %}
        <a class="btn btn-secondary" href=/flashList/{{list_id}}/0>Back to Flashcard View</a>
    {% endif %}
{% endblock %}

